<c-toaster *ngIf="visible" [placement]="'top-end'" class="p-3">
  <c-toast [visible]="visible" [class.bg-success]="type === 'success'" [class.bg-danger]="type === 'error'">
    <c-toast-header>
      Notificación
    </c-toast-header>
    <c-toast-body>
      <strong>{{ message }}</strong>
    </c-toast-body>
  </c-toast>
</c-toaster>

<c-modal id="deleteConfirmModal" [visible]="deleteModalVisible" (visibleChange)="deleteModalVisible = $event">
  <c-modal-header>
    <h5 cModalTitle>Confirmar Eliminación</h5>
  </c-modal-header>
  <c-modal-body>
    ¿Estás seguro de que deseas eliminar este paciente?
  </c-modal-body>
  <c-modal-footer>
    <button (click)="deleteModalVisible = false" cButton color="secondary">
      Cancelar
    </button>
    <button (click)="performDeletePatient()" cButton color="primary">
      Confirmar
    </button>
  </c-modal-footer>
</c-modal>

<div class="container-fluid mt-4">
  <!-- Input de búsqueda -->
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Buscar paciente..." [(ngModel)]="searchText"
      (input)="filterPatients()" />
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Lista de Pacientes</h2>
    <button class="btn btn-primary" (click)="createPatient()">
      <i class="bi bi-plus-lg me-1"></i> Añadir Paciente
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="table-light text-center">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Fecha de Nacimiento</th>
          <th>Género</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="filteredPatients && filteredPatients.length > 0; else noPatients">
        <tr *ngFor="let patient of filteredPatients">
          <td>{{ patient.idPatient }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.username }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.dateOfBirth }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.phone }}</td>
          <td>{{ patient.address }}</td>
          <td class="text-center">
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-primary" (click)="editPatient(patient.idPatient)">
                <i class="bi bi-pencil"></i> Editar
              </button>

              <!-- EJEMPLO DE COMO MANEJAR LOS ROLES EN VISTAS -->
              <button *ngIf="role === 'ADMINISTRATOR' || role === 'RECEPTIONIST'" class="btn btn-sm btn-outline-danger"
                (click)="confirmDeletePatient(patient.idPatient)">
                <i class="bi bi-trash"></i> Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Mensaje cuando no hay pacientes -->
    <ng-template #noPatients>
      <div class="text-center mt-4">
        <p>No hay pacientes registrados.</p>
      </div>
    </ng-template>
  </div>

  <!-- Paginación alineada a la derecha -->
  <div class="d-flex justify-content-end mt-2">
    <c-pagination aria-label="Page navigation example" size="sm" align="end">
      <li cPageItem [disabled]="currentPage === 1">
        <a cPageLink (click)="onPageChange(currentPage - 1)" aria-label="Previous">&laquo;</a>
      </li>
      <li *ngFor="let page of getPages()" cPageItem [active]="currentPage === page">
        <a cPageLink (click)="onPageChange(page)">{{ page }}</a>
      </li>
      <li cPageItem [disabled]="currentPage === getTotalPages()">
        <a cPageLink (click)="onPageChange(currentPage + 1)" aria-label="Next">&raquo;</a>
      </li>
    </c-pagination>
  </div>
</div>